@model List<Purely_Nuts.Models.Product>

@{
    Layout = "~/Views/Shared/_Admin.cshtml";
}

<div class="container mt-5">
    <h2><b>View Products</b></h2><br />
    <div class="table-responsive">
        <table class="table table-bordered table-hover shadow-sm">
            <thead class="bg-light">
                <tr>
                    <th>Product Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Description</th>
                    <th>Image</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td style="align-content:center">@product.ProductName</td>
                        <td style="align-content:center">@product.ProductPrice.ToString("C")</td>
                        <td style="align-content:center">@product.Quantity</td>
                        <td style="align-content:center">@product.ProductDescription</td>
                        <td style="align-content:center">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(product.ImageData)" alt="@product.ProductName Image" style="width:40px;" class="img-fluid rounded">
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>